<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>sun</title>
    <script src="/static/js/lib/react.js"></script>
    <script src="/static/js/lib/react-dom.js"></script>
    <script src="/static/js/lib/browser.min.js"></script>
    <script src="/static/js/lib/remarkable.min.js"></script>
    <script src="/static/js/lib/jquery-3.1.1.js"></script>
    <!--<link href="css/app.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/wing.min.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.9.0/styles/darcula.min.css"/>
    <script src="//cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>


</head>
<body>
<div id="wrapper">
##    #parse('layout/sidebar.vm')

    <div id="page-wrapper">
        $screen_content
    </div>
</div>
<script src="/static/js/lib/bundle.min.js"></script>
</body>
</html>
