<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>sun</title>
    <script src="/static/js/lib/react.js"></script>
    <script src="/static/js/lib/react-dom.js"></script>
    <script src="/static/js/lib/browser.min.js"></script>
    <script src="/static/js/lib/remarkable.min.js"></script>
    <script src="/static/js/lib/jquery-3.1.1.js"></script>
    <!--<link href="css/app.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="/static/css/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/wing.min.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.9.0/styles/darcula.min.css"/>
    <script src="//cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

##    <link href="/static/css/styles2.css" rel="stylesheet" type="text/css" media="all"/>

    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    </style>
##    <article class="markdown-body">
##        <h1>Unicorns</h1>
##        <p>All the things</p>
##    </article>
</head>
<body>

##    #parse('layout/sidebar.vm')
    $screen_content

<script src="/static/js/lib/bundle.min.js"></script>
</body>
</html>
