<div class="button_container">
    <span class="top bar"></span>
    <span class="middle bar"></span>
    <span class="bottom bar"></span>
</div>

<div class="overlay">
    <div class="nav">
        <ul>
            <!--加#表示跳到当前页面id为×××的地方-->
            <li><a href="#hero" data-speed="1000" class="menuLink scroll">Home</a></li>
            <li><a href="#articles" data-speed="1000" class="menuLink scroll">分享</a></li>
            <li><a href="#original" data-speed="1000" class="menuLink scroll">原创</a></li>
            <li><a href="#" data-speed="1000" class="menuLink scroll">关于我</a></li>
        </ul>
    </div>
</div>

<section id="hero" class="text-center">
    <div class="hero-content center">
        <div>
            <h1 id="wingHead">Sun</h1>
            <br/>
            <a href="#articles" class="scroll" data-scroll="1000">
                <button class="btn btn-outline">go to see</button>
            </a>
        </div>
    </div>
</section>
<div><h1 class="animated infinite bounce">Sun for everyone</h1></div>


<div id="head1" class="container"></div>
<script type="text/babel" src="/static/js/head.js"></script>

<div id="sunapp"></div>
<script src="/static/build/app.bundle.js"></script>

